name: .NET Build and test

on:
  workflow_call: # Allow to call this workflow from another
    secrets:
      token:
        required: true

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    
    - name: Add dependencies source
      run: dotnet nuget add source --username junglistkirss --password ${{ secrets.token }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/junglistkirss/index.json"
        
    - name: Restore dependencies
      run: dotnet restore

    - name: Test
      run: dotnet test --verbosity normal
    
    - name: Merge Coverage Reports
      uses: danielpalme/ReportGenerator-GitHub-Action@5.4.3
      with:
        reports: ./coverage/**/coverage.cobertura.xml
        targetdir: ./coveragereport
        reporttypes: Cobertura
      
    - name: Code Coverage Report
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: ./coveragereport/Cobertura.xml
        badge: true
        fail_below_min: false
        format: markdown
        hide_branch_rate: false
        hide_complexity: false
        indicators: true
        output: both
        thresholds: '${{ vars.MIN_COVERAGE_THRESHOLD }} 80'
