name: .NET

on:
  workflow_dispatch: # Allow running the workflow manually from the GitHub UI
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore dependencies
      run: dotnet restore
    
    - name: Build
      run: dotnet build --configuration Release --no-restore
    
    - name: Test
      run: dotnet test --no-build --verbosity normal

    - name: NuGet
      run: dotnet pack --no-build --configuration Release -o .

    - name: Push to GitHub package registry
      run: dotnet nuget push *.nupkg --api-key "${{ secrets.NUGET_TOKEN }}" --source https://nuget.pkg.github.com/junglistkirss/index.json --skip-duplicate
